body {
  margin: 0;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial;
}

.nav-tabs {
  width: 20%;
  height: 100vh;
  text-align: center;
}

.nav-tabs img {
  margin-top: 5px;
  height: auto;
  width: 90%;
}

.nav-tabs ul {
  list-style-type: none;
  margin: 5.3rem 0 0 0;
  border-bottom: 1px solid #dadada;
  padding: 0;
}

.nav-tabs ul li {
  text-align: center;
  border-top: 1px solid #dadada;
  padding: 20px 10px;
}

.nav-tabs ul li a {
  text-decoration: none;
  color: #000;
  width: 100%;
}

.nav-tabs ul li .menu::before {
  background: url("../src/img/bowl.svg");
}

.nav-tabs ul li .about::before {
  background: url("../src/img/waves.svg");
}

.nav-tabs ul li .reserve::before {
  background: url("../src/img/dumps.svg");
}

.nav-tabs ul li .menu::before,
.nav-tabs ul li .about::before,
.nav-tabs ul li .reserve::before {
  content: '';
  width: 30px;
  height: 30px;
  background-size: contain;
  display: block;
  position: relative;
  top: 200%;
  left: 45%;
  margin-bottom: 15px;
}

.display {
  width: 80%;
}

.display .row {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.display .row .is-half,
.display .row .specials {
  padding: 1em 2em;
}

.display .row img {
  max-width: 20px !important;
}

.display .row h3::after,
.display .row h4::after {
  content: url("../src/img/wave.svg");
  width: 20%;
  height: 60px;
  position: relative;
  display: block;
}

.display .row h3::after {
  width: 10%;
  height: 90px;
}

.display .row .specials {
  width: 100%;
  background: url("../src/img/chicken.jpg") rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border: 2px solid #fff;
  border-top-width: 5px;
}

.display .row .is-half {
  border: 2px solid #fff;
}

.display .row .snacks,
.display .row .take-out {
  width: 50%;
  background-color: aquamarine;
  background-blend-mode: multiply;
}

.display .row .snacks {
  background: url("../src/img/snacks.jpg") rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.display .row .take-out {
  background: url("../src/img/salad.jpg") rgba(0, 0, 0, 0.5);
  background-size: cover;
}
