body {
  margin: 0;
}

#content {
  display: flex;
  font-family: Arial;
}

.nav-tabs {
  width: 20%;
  height: 100vh;
  text-align: center;

  img {
    margin-top: 5px;
    height: auto;
    width: 90%;
  }

  ul {
    list-style-type: none;
    margin: 5.3rem 0 0 0;
    border-bottom: 1px solid #dadada;
    padding: 0;

    li {            
  
      text-align: center;
      border-top: 1px solid #dadada;      
      padding: 20px 10px;

      a {        
        text-decoration: none;
        color: #000;   
        width: 100%;       
      }
      
      .menu::before {
        background: url('../src/img/bowl.svg');        
        
      }

      .about::before {        
        background: url('../src/img/waves.svg');
      }

      .reserve::before {
        background: url('../src/img/dumps.svg');
      }

     .nav-link::before {
        content: '';
        width: 30px;
        height: 30px;
        
        background-size: contain;
        display: block;
        position: relative;
        top: 200%;
        left: 45%;
        margin-bottom: 15px;
      }
      
    }    
  }
}

.menu-display {
  color: #000;


  .row {
    h3::after,
    h4::after {
      content: url('../src/img/wave-black.svg');      
      width: 15%;
      height: 60px;
      position: relative;
      display: block;
    }

    h3::after {    
      width: 50%;  
      height: 90px; 
    }

    p {
        line-height: 1.66;
      }
    }
}

.home-display { 
   color: #fff;

   .row {
      h3::after,
      h4::after {
        content: url('../src/img/wave.svg');      
        width: 20%;
        height: 60px;
        position: relative;
        display: block;
      }

      h3::after {
        width: 10%;
        height: 90px; 
      }
   }
}

.display {
  width: 80%;

  
  .row {
    height: 50vh;
    display: flex;

    .content-box {
      padding: 1em 2em;
      
    }

    img {
      max-width: 20px!important;
    }
    
    .specials {
      width: 100%;
      background: url('../src/img/chicken.jpg') rgba($color: #000, $alpha: 0.5);
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      border: 2px solid #fff;
      border-top-width: 5px;
    }

    .is-half {
      border: 2px solid #fff;
      width: 50%;
    }
    
    .snacks,
    .take-out {
      width: 50%;
      background-color: aquamarine;
      background-blend-mode: multiply;
    }

    .snacks {
      background: url('../src/img/snacks.jpg') rgba($color: #000, $alpha: 0.5);
      background-size: cover;
      
    }

    .take-out {
      background: url('../src/img/salad.jpg') rgba($color: #000, $alpha: 0.5);
      background-size: cover;
      
    }
  }   
}